<ion-router-outlet></ion-router-outlet>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
    </ion-tab-button>

    <ion-tab-button>
      <ion-icon name="folder-open"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="daily-plan">
      <ion-icon name="reader"></ion-icon>
    </ion-tab-button>
    <ion-tab-button>
      <ion-icon name="calendar-clear"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>

<ion-button id="open-daily-plan-modal" style="display: none"></ion-button>
<app-full-modal>
  <app-daily-plan></app-daily-plan>
</app-full-modal>
