<ion-toolbar class="modal-toolbar">
  <ion-buttons slot="start">
    <ion-button>
      <ion-icon name="close-circle-outline" class="icon-close"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-buttons slot="end">
    <ion-button>
      <ion-icon name="ellipsis-horizontal"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-toolbar>

<div class="main-content ion-padding">
  <h1>MessagingID</h1>
  <ion-toolbar>
    <ion-label><b>Your daily plan</b></ion-label>
    <ion-label slot="end"><b>70%</b></ion-label>
  </ion-toolbar>
  <div class="progress"></div>
  <ion-label><small>4 of 6 completed</small></ion-label>

  <ion-row class="tracker ion-justify-content-between">
    <ion-col size="5.8">
      <p><b>17</b></p>
      <div>
        <ion-icon name="clipboard-outline"></ion-icon>
        <ion-label>Task finished</ion-label>
      </div>
    </ion-col>
    <ion-col size="5.8">
      <p><b>3,2</b></p>
      <div>
        <ion-icon name="time-outline"></ion-icon>
        <ion-label>Tracked hours</ion-label>
      </div>
    </ion-col>
  </ion-row>

  <div class="overview">
    <h5>Overview</h5>
    <p>
      MessagingID framework development for the marketing branch and the
      publicity bureau and implemented a draft on the framework.
    </p>
  </div>

  <div class="members-connected">
    <h5>Members Connected</h5>
    <ion-row>
      <ion-col size="2.5">
        <ion-img src="assets/img/6.jpg" class="avater"></ion-img>
      </ion-col>
      <ion-col size="2.5">
        <ion-img src="assets/img/7.jpg" class="avater"></ion-img>
      </ion-col>
      <ion-col size="2.5">
        <ion-img src="assets/img/8.jpg" class="avater"></ion-img>
      </ion-col>
      <ion-col size="2.5" class="add">
        <ion-icon name="add"></ion-icon>
      </ion-col>
    </ion-row>
  </div>
</div>
